* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightslategray;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    padding: 10px 5px;
    text-align: center;
}

nav {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 10px 20px;
}

li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 10px 20px;
}