* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    
    font-family: serif;
    font-weight: normal;
    padding: 15px;
    margin: 20px 50px;
    border: solid 2px black;
}

.top_container {
    margin: 50px 50px 20px 50px;
    text-align: center;
}

.container h2 {
    padding: 10px 5px;
}

.colour-panel {
    display: inline-block;
    width: 42%;
    min-height: 100px;
    text-align: center;
    margin: 20px auto;
}

.colour-panel p {
    display: block;
    margin-block: 20px auto;
}

.lightgrey {
    background-color: rgb(240,240,240);
}

.greyblue {
    background: rgb(161,176,186);
}

.darkgreyblue {
    background-color: rgb(115,141,161);
}

.lightblue {
    background-color: rgb(148, 182, 207);
}